/******************************************************************/

/* Color Input Styles */

/******************************************************************/


input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-webkit-color-swatch {
    padding: 0;
    border: 0;
    border-radius: 10px;
}


/******************************************************************/

/* Number Input Styles */

/******************************************************************/


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/******************************************************************/

/* Slider Input Styles */

/******************************************************************/


.slider {
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/******************************************************************/

/* Basic Styling for the Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

/* Styling for Firefox */
input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

/* Hover Effect */
input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-moz-range-thumb:hover {
    background-color: transparent;
}

/* Active State */
input[type="range"]::-webkit-slider-thumb:active,
input[type="range"]::-moz-range-thumb:active {
    background-color: transparent;
}
