/******************************************************************/

/* Color Input Styles */

/******************************************************************/


input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-webkit-color-swatch {
    padding: 0;
    border: 0;
    border-radius: 10px;
}


/******************************************************************/

/* Number Input Styles */

/******************************************************************/


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/******************************************************************/

/* Slider Input Styles */

/******************************************************************/


.slider {
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background: transparent;
    width: 0;
    height: 0;
    border: 0;
    cursor: pointer;
}


/******************************************************************/